#navbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem 0rem 1rem;
  height: 5rem;
  background-color: inherit;
}


ul {
  list-style: none;
}

#categories {
  display: flex;
  gap: 2.5vw;
}

.cardContainer{
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cardLink{
  text-decoration: none;
}

.randomCard {
  width: 18rem;
  height: 23rem;
  padding: 1rem;
  background-color: var(--second-pink-text-color);
  border-radius: 16px;
}

#search {
  width: 95%;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 10px;
}

#home > h1 {
  text-decoration: underline;
  margin: 3vh 2vw;
}

#navbar > h2 > a{
  text-decoration: none;
}

.tiers {
  position: relative;
  border-radius: 16px;
  
}

.cardSecond {
  z-index: -10;
  width: 14rem;
  top: 2.5rem;
  left: 2rem;
  height: 5rem;
  background-color: #FCBABA;
}

.cardThird {
  background-color: #F9E0E2;
  z-index: -12;
  top: 0.2rem;
  width: 10rem;
  height: 3.5rem;
  left: 4rem;
}

.cardTitle {
  width: 3rem;
  z-index: 10;
  color: white;
}

.cardImg {
  position: relative;
  left: 23%;
  bottom: 2rem;
  width: 16.5rem;
}

.cardTop {
  display: flex;
  justify-content: space-between;
}

#logo > a {
  text-decoration: none;
}

.category-cont {
  background-color: var(--main-bg-color);
  width: 7rem;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.category-cont > a > img {
  width: 6rem;
}

.category-cont > a{
  text-decoration: none;
}

h4 {
  color: var(--second-pink-text-color);
}

h3 {
  font-size: 0.8rem;
}

h1, h4, h3 {
  margin: 0;
  text-decoration: none;
}

#cocktail {
  background-color: var(--main-bg-color);
}

.App {
  padding: 1rem;
}