#navbar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 8rem 0rem 1rem;
  height: 5rem;
}

#navbar > h2 > a{
  text-decoration: none;
}

#logo > a {
  text-decoration: none;
}

.category-cont {
  background-color: var(--main-bg-color);
  width: 7rem;
  height: 10rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

.category-cont > a > img {
  width: 6rem;
}

.category-cont > a{
  text-decoration: none;
}

h4 {
  color: var(--second-pink-text-color);
}

h3 {
  font-size: 0.8rem;
}

h1, h4, h3 {
  margin: 0;
  text-decoration: none;
}
