@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black-text-color);
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-x: hidden;
}

ul {
    padding: 0;
}

#root {
    height: 100vh;
}

:root {
    --main-bg-color: #FEF9E4 ;
    --main-black-text-color: #1E2742;
    --second-pink-text-color:#FB7D8A;
}
