@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: var(--main-black-text-color);
}

html, body {
    padding: 0;
    margin: 0;
}

:root {
    --main-bg-color: #FEF9E4 ;
    --main-black-text-color: #1E2742;
    --second-pink-text-color:#FB7D8A;
}

#root {
    padding: 1rem;
}